---
---

<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>2016 California Building Code Tables</title>
</head>
<body>

<h1 style="font-family: Arial">2022 California Building Code Tables</h1>

<label>JOB NAME: <input name="job_name"></label>

<ul>
  {% include item.html%}
  {% include item.html%}
  {% include item.html%}
  {% include item.html%}
  {% include item.html%}
</ul>

<script>
  
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

//make function
function getOccupancyCount(item){  
  
  //make variable
  var occ_type = item.querySelector('.selected-occupancy')

  //listen for an occupancy type change area label to gross or net
  occ_type.addEventListener("change",function(){
    var selected_option = occ_type.options[occ_type.selectedIndex]

    var value = selected_option.getAttribute("data-area-type")

    item.querySelector('.area-type').innerHTML = capitalizeFirstLetter(value)
  })

  //take the user given area and divide it by the occ-cat occ factor
  var userArea = item.querySelector('.user-area')
  userArea.addEventListener("change", function(){

    var selected_option = occ_type.options[occ_type.selectedIndex]

    var occLoadFactor = selected_option.getAttribute("data-load-factor")

    value = userArea.value / Number(occLoadFactor)
  item.querySelector('.occ-calc').value = Math.ceil(value)

  })
  
 // debugger
  
}
  var list = document.querySelectorAll('li')
  for(var index = 0; index < list.length; index ++){
  getOccupancyCount(list[index])
  }
</script>

</body>
</html>
